@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movie List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
         tbody{
            overflow : auto;
            height: 300px;
            display: block;
        }
    </style>

@if (Model != null)
{
    <table border="1" class="table table-striped">
        <thead>
            <tr>
                <td>
                    Code
                </td>
                <td>
                    Movies
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td><a href="/Movies/Details/@movie.Id">@movie.Id</a></td>
                    <td><a href="/Movies/Details/@movie.Id">@movie.Name</a></td>
                </tr>
            }
        </tbody>
    <tfoot>
        <tr>
            <td>
                Code
            </td>
            <td>
                Movies
            </td>
        </tr>
    </tfoot>
    </table>
}
else
{
    <h3>There are cuurently no movies!</h3>
}
