@model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer List</h2>

@if (Model == null)
{
    <h3>There are currently no customers</h3>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <td>
                    Customers
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Name</td>
                </tr>
            }
        </tbody>
    </table>
    
}
